.topic{
  cursor:pointer;
}

/* .topic:hover{
	background-color: #E5E7E9 !important;
} */

.topic_hover{
  position:absolute;
  height:100%;
  width:100%;
  z-index:100;

  opacity:0;
  background-color: black;
}
.topic_hover:hover{
opacity:0.05;
}
