.textCard {
    position: relative;
    font-family: Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin: auto auto;
    padding: 50px;
    height: 70%;
    width: 70%;
    /* width: 900px; */
}

.scroll_down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(-50%) translateY(-50%);
    background: url(scroll_down.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.textIn {
    position: relative;
    font-family: Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 2vw;
    line-height: 50px;
    color: #000000;
}