@import url("https://fonts.googleapis.com/css?family=Alegreya:400,800|Gelasio&display=swap");

body {
  font-family: "Alegreya", sans-serif;
  // background: linear-gradient(#205983, #0a2742);
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  background: url(../img/geometry_background.jpg) no-repeat center fixed !important;
  background-size: cover !important;
}

.titre_site {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
  font-family: "Alegreya", sans-serif;
  text-align: center;
  // position: relative;
  font-size: 50px;
  font-weight: 800;
  border-radius: 15px;

  .titre_part1 {
    color: #e8e9f3;
  }

  .titre_part2 {
    color: #04471c;
  }
}

#presentation_button {
  width: 100%;
}
